// @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

/*----------  base
------------------------------------------------------------------------------*/
@import "base/reset";
@import "base/variables";
@import "base/typography"; 

/*----------  layout
------------------------------------------------------------------------------*/
@import "layout/header";
@import "layout/footer";

* {
    box-sizing: border-box;
}

.screen-readers-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0,0);
    border: 0;
}
body {
    width: 100%;
    min-height: 100vh;
    // padding: 129px 24px 40px 64px;
}
div {
    width: auto;
    display: block;
}

.logo {
    width: 200px;
    padding-top: 8px;
    img {
        width: 100%;
    }
}

header {
    position: absolute;
    left: 50%;
    top: 48px;
    transform: translateX(-50%);
    .btn-header {
        width: 200px;
        height: 48px;
        background-color: white;
        font-size: 15px;
        font-weight: 700;
        color: $primary_lvl_3;
        cursor: pointer;
    }
    .btn-header:hover {
        color: $primary_lvl_2;
        background-color: white;
    }
}
.hero {
    padding-top: 160px;
    padding-bottom: 60px;
    background-image: url("/images/bg-hero-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #EDFBFE;
}

.hero-img {
    width: 100%;
}
.hero-img-wrapper {
    padding-left: 52px;
    padding-right: 16px;
}
.hero-text-wrapper {
    padding-top: 97px;
    h2 {
        margin-bottom: 28px;
    }
    p {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 32px;
    }
}

.hero-text-wrapper .btn-hero {
    width: 280px;
    height: 56px;
    background-color: $accent;
    font-size: 15px;
    font-weight: 700;
    color: $primary_lvl_1;
    cursor: pointer;
}
.btn-hero:hover {
    color: $primary_lvl_1;
    background-color: lighten($accent, 10%);
}

@media screen and (max-width: 1000px) {
    header .btn-header {
        font-size: 20px;
    }
}

@media screen and (max-width: 992px) {
    .hero-text-wrapper {
        text-align: center;
        margin-bottom: 106px;
    }
}

@media screen and (max-width: 750px) {
    .logo {
        width: 208px;
    }
    header .btn-header {
        width: 192px;
        font-size: 16px;
    }
    .hero {
        background-image: url("/images/bg-hero-mobile.svg");
        // padding-bottom: 66px;
        // border-bottom: 1px solid black;
    }

    .hero .row {
        padding-left:40px;
        padding-right:40px;
    }

    .hero-text-wrapper {
        padding-top: 102px;
        h2 {
            margin-bottom: 42px;
            
            padding-left: 10px;
            padding-right: 10px;
           
            font-size: 48px;
            line-height: 72px;
            letter-spacing: -0.005em;
        }
        p {
            font-size: 32px;
            line-height: 48px;
            margin-bottom: 64px;
        }
    }
    
    .hero-text-wrapper .btn-hero {
        width: 480px;
        height: 80px;       
        font-size: 24px;   
        padding-top: 0px;
    }

    .hero-img-wrapper {
        padding-left: 16px;
        padding-right: 14px;
        margin-bottom: 6px;
    }
}
@media screen and (max-width: 610px) {
    .hero .row {
        padding-left:10px;
        padding-right:10px;
    }
    .hero-text-wrapper .btn-hero {
        width: 100%
    }
    // .logo {
    //     width: 160px;
    // }
    // header .btn-header {
    //     width: 140px;
    //     height: 40px;
    // }
}
@media screen and (max-width: 480px) {
    .logo {
        width: 160px;
    }
    header .btn-header {
        width: 140px;
        height: 40px;
    }
}

