@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*----------  base
------------------------------------------------------------------------------*/
@import "base/reset";
@import "base/variables";
@import "base/typography"; 

/*----------  layout
------------------------------------------------------------------------------*/
@import "layout/header";
@import "layout/footer";

* {
    box-sizing: border-box;
}

.screen-readers-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0,0);
    border: 0;
}
body {
    // background: rgb(175,103,233);
    // background: linear-gradient(180deg, rgba(175,103,233,1) 20%, rgba(101,101,231,1) 73%);
    width: 100%;
    min-height: 100vh;
    // padding: 129px 24px 40px 64px;
}
div {
    width: auto;
    display: block;
}

.logo {
    width: 200px;
    padding-top: 8px;
    img {
        width: 100%;
    }
}

header {
    position: absolute;
    left: 50%;
    top: 48px;
    transform: translateX(-50%);
    .btn-header {
        width: 200px;
        height: 48px;
        background-color: white;
        font-size: 15px;
        font-weight: 700;
        color: $primary_lvl_3;
        cursor: pointer;
    }
    .btn-header:hover {
        color: $primary_lvl_2;
        background-color: white;
    }
}
.hero {
    padding-top: 167px;
}


@media screen and (max-width: 750px) {
    .logo {
        width: 208px;
    }
    header .btn-header {
        width: 192px;
    }
}