body {
    font-family: $ffamily_primary;
    font-size: $fsize_primary;
}

p {
    font-size: $fsize_primary;
}
h2 {
    font-weight: 600;
    font-family: 'Poppins';    
    font-size: 40px;
    line-height: 60px;
    letter-spacing: -0.005em;
}
h3 {
    font-size: 14px;
}

